<div class="row mb-3">
  <div class="col-xl-6 col-12 d-flex">
    <div class="card h-lg-100 w-100 overflow-hidden">
      <div class="card-body">
        <div class="starting-content pe-5">
          @if(!hasLoggedIn){
          <h3>Welcome</h3>
          <p class="lead text-muted mb-2">
            {{ '::LongWelcomeMessage' | abpLocalization }}
          </p>
          <a (click)="login()" class="px-4 btn btn-primary mb-4" role="button">
            <i class="fa fa-sign-in"></i> 
            {{ 'AbpAccount::Login' | abpLocalization }}
          </a>
          }

          <h4>README</h4>
          <p class="lead text-muted mb-3">
            Books & Authors show paginated data, can do basic CRUD.
          </p>
          <p>Any CRUD action will notify user via email & notification.</p>
          <a [href]="envUrl + '/books'"class="btn btn-brand mb-4" target="_blank">Go to "Books"</a>
          <a [href]="envUrl + '/authors'" class="btn btn-brand mb-4 home-buttons" target="_blank">Go to "Authors"</a>

          <h4>Feature Management is used to toggle content by country.</h4>
          <a [href]="envUrl + '/feature-managements'" class="btn btn-brand mb-4" target="_blank">Go to "Feature Management"</a>

          <h4>Schedulers</h4>
          <p class="text-muted mb-2">A cron-based quartz that CC email with attachment to users.</p>
          <a [href]="envUrl + '/schedulers'" class="btn btn-primary soft mb-4" target="_blank">Go to "Schedulers"</a>

          <h4>Notification</h4>
          <p class="text-muted mb-2">Navbar has an icon showing notification list.</p>

        </div>
        <img class="card-bg-image" src="assets/images/getting-started/bg-01.png" />
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 d-flex">
    <div class="row">
      <div>
        <div class="card overflow-hidden mb-3">
          <div class="card-body d-flex flex-column">
            <p class="text-muted mb-2">
              <strong>Smart Behaviors</strong>
            </p>
            <tr>
              <br>
              <td class="ps-0 d-flex">
                <div
                  class="rounded-circle me-2 flex-center bg-brand soft"
                  style="width: 20px; height: 20px">
                  <i class="bi bi-check fs-4"></i>
                </div>
                <div>Auto-adjusts filters as data changes</div>
              </td>
              <br>
              <td class="ps-0 d-flex">
                <div
                  class="rounded-circle me-2 flex-center bg-brand soft"
                  style="width: 20px; height: 20px">
                  <i class="bi bi-check fs-4"></i>
                </div>
                <div>Real-time UI updates via SignalR</div>
              </td>
              <br>
              <td class="ps-0 d-flex">
                <div
                  class="rounded-circle me-2 flex-center bg-brand soft"
                  style="width: 20px; height: 20px">
                  <i class="bi bi-check fs-4"></i>
                </div>
                <div>Global spinner using interceptor</div>
              </td>
            </tr>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex">
        <div class="card h-md-100 overflow-hidden">
          <div class="card-body d-flex flex-column">
            <p class="text-muted mb-2">
              <strong>Dev Notes</strong>
            </p>
            <tr>
              <br>
              <td class="ps-0 d-flex">
                <div
                  class="rounded-circle me-2 flex-center bg-brand soft"
                  style="width: 20px; height: 20px">
                  <i class="bi bi-check fs-4"></i>
                </div>
                <div>Tried domain interface to return entity-specific localization data</div>
              </td>
              <br>
              <td class="ps-0 d-flex">
                <div
                  class="rounded-circle me-2 flex-center bg-brand soft"
                  style="width: 20px; height: 20px">
                  <i class="bi bi-check fs-4"></i>
                </div>
                <div>Pass destructured, localized message to Scriban template as it only binds positional argument</div>
              </td>
              <br>
              <td class="ps-0 d-flex">
                <div
                  class="rounded-circle me-2 flex-center bg-brand soft"
                  style="width: 20px; height: 20px">
                  <i class="bi bi-check fs-4"></i>
                </div>
                <div>Extra properties are intergrated to User module to help expanding it</div>
              </td>
              <br>
              <td class="ps-0 d-flex">
                <div
                  class="rounded-circle me-2 flex-center bg-brand soft"
                  style="width: 20px; height: 20px">
                  <i class="bi bi-check fs-4"></i>
                </div>
                <div>Config State has an internal store, fetches it by subscribing to the UI that contains feature directive</div>
              </td>
            </tr>
            <img
              style="margin-bottom: -24px"
              class="w-100 mt-auto"
              src="assets/images/getting-started/img-support.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 d-flex">
    <div class="card h-100 overflow-hidden">
      <div class="card-body">
        <p class="lead text-muted">
          <span class="fw-bold">TO DO:</span>
        </p>
        <tr>

          <br>
          <td class="ps-0 d-flex">
            <div
              class="rounded-circle me-2 flex-center bg-brand soft"
              style="width: 20px; height: 20px">
              <i class="bi bi-check fs-4"></i>
            </div>
            <div>Research if abp proxy generator can be customized</div>
          </td>
          <br>
          <td class="ps-0 d-flex">
            <div
              class="rounded-circle me-2 flex-center bg-brand soft"
              style="width: 20px; height: 20px">
              <i class="bi bi-check fs-4"></i>
            </div>
            <div>Implement factory pattern</div>
          </td>
          <br>
          <td class="ps-0 d-flex">
            <div
              class="rounded-circle me-2 flex-center bg-brand soft"
              style="width: 20px; height: 20px">
              <i class="bi bi-check fs-4"></i>
            </div>
            <div>Re-implement hangfire (Current storage doesn't support specifying queues directly for a specific job. Please use the QueueAttribute instead)</div>
          </td>
          <br>
          <td class="ps-0 d-flex">
            <div
              class="rounded-circle me-2 flex-center bg-brand soft"
              style="width: 20px; height: 20px">
              <i class="bi bi-check fs-4"></i>
            </div>
            <div>Localize the app</div>
          </td>
          <br>
          <td class="ps-0 d-flex">
            <div
              class="rounded-circle me-2 flex-center bg-brand soft"
              style="width: 20px; height: 20px">
              <i class="bi bi-check fs-4"></i>
            </div>
            <div>Refactor code, constants</div>
          </td>
          <br>
          <td class="ps-0 d-flex">
            <div
              class="rounded-circle me-2 flex-center bg-brand soft"
              style="width: 20px; height: 20px">
              <i class="bi bi-check fs-4"></i>
            </div>
            <div>Upgrade framework</div>
          </td>
          <br>
          <td class="ps-0 d-flex">
            <div
              class="rounded-circle me-2 flex-center bg-brand soft"
              style="width: 20px; height: 20px">
              <i class="bi bi-check fs-4"></i>
            </div>
            <div>Implement Redis</div>
          </td>
          <br>
        </tr>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="card-title text-body">Frontend libraries:</div>
      </div>
      <div class="card-body pt-0">
        <div>
          <table class="table mb-0">
            <tbody>
              <tr>
                <td class="ps-0 d-flex">
                  <div
                    class="rounded-circle me-2 flex-center bg-brand soft"
                    style="width: 20px; height: 20px">
                    <i class="bi bi-check fs-4"></i>
                  </div>
                  <div>angular/material</div>
                </td>
                <td class="text-end pe-0 opacity-25">
                  <a href="https://www.npmjs.com/package/@angular/material" target="_blank">
                    <i class="bi bi-box-arrow-up-right text-dark"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="ps-0 d-flex">
                  <div
                    class="rounded-circle me-2 flex-center bg-brand soft"
                    style="width: 20px; height: 20px"
                  >
                    <i class="bi bi-check fs-4"></i>
                  </div>
                  <div>rxjs</div>
                </td>
                <td class="text-end pe-0 opacity-25">
                  <a href="https://www.npmjs.com/package/rxjs" target="_blank">
                    <i class="bi bi-box-arrow-up-right text-dark"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="ps-0 d-flex">
                  <div
                    class="rounded-circle me-2 flex-center bg-brand soft"
                    style="width: 20px; height: 20px"
                  >
                    <i class="bi bi-check fs-4"></i>
                  </div>
                  <div>ngx-cron-jobs</div>
                </td>
                <td class="text-end pe-0 opacity-25">
                  <a href="https://www.npmjs.com/package/ngx-cron-jobs" target="_blank">
                    <i class="bi bi-box-arrow-up-right text-dark"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="ps-0 d-flex">
                  <div
                    class="rounded-circle me-2 flex-center bg-brand soft"
                    style="width: 20px; height: 20px"
                  >
                    <i class="bi bi-check fs-4"></i>
                  </div>
                  <div>ngx-infinite-scroll</div>
                </td>
                <td class="text-end pe-0 opacity-25">
                  <a href="https://www.npmjs.com/package/ngx-infinite-scroll" target="_blank">
                    <i class="bi bi-box-arrow-up-right text-dark"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="ps-0 d-flex border-bottom-0">
                  <div
                    class="rounded-circle me-2 flex-center bg-brand soft"
                    style="width: 20px; height: 20px"
                  >
                    <i class="bi bi-check fs-4"></i>
                  </div>
                  <div>Service Proxies</div>
                </td>
                <td class="text-end pe-0 opacity-25 border-bottom-0">
                  <a href="https://abp.io/docs/latest/framework/ui/angular/service-proxies" target="_blank">
                    <i class="bi bi-box-arrow-up-right text-dark"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-8 d-flex">
    <div class="card">
      <div class="card-body d-flex">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h3><strong>About</strong></h3>
            <p class="text-muted">
              This project was built upon the <strong>Acme.BookStore <a href="https://abp.io/docs/latest/tutorials/book-store?UI=NG&DB=EF" target="_blank">tutorial</a></strong> from ABP Framework.
            </p>
            <div class="d-md-flex mb-2 mb-md-0">
              <a
                (click)="download()"
                target="_blank"
                class="btn btn-primary soft me-md-2 mb-2 mb-md-0"
              >
                Click to download the book
              </a>
            </div>
          </div>
          <div class="col">
            <img class="w-100" src="assets/images/getting-started/book.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="card-title text-body">Backend libraries:</div>
      </div>
      <div class="card-body pt-0">
        <div>
          <table class="table mb-0">
            <tbody>
              <tr>
                <td class="ps-0 d-flex">
                  <div
                    class="rounded-circle me-2 flex-center bg-brand soft"
                    style="width: 20px; height: 20px"
                  >
                    <i class="bi bi-check fs-4"></i>
                  </div>
                  <div>SignalR</div>
                </td>
                <td class="text-end pe-0 opacity-25">
                  <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/signalr" target="_blank">
                    <i class="bi bi-box-arrow-up-right text-dark"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="ps-0 d-flex">
                  <div
                    class="rounded-circle me-2 flex-center bg-brand soft"
                    style="width: 20px; height: 20px"
                  >
                    <i class="bi bi-check fs-4"></i>
                  </div>
                  <div>AutoFilterer</div>
                </td>
                <td class="text-end pe-0 opacity-25">
                  <a href="https://abp.io/community/articles/using-autofilterer-with-abp-framework-uuqv81jm#gsc.tab=0" target="_blank">
                    <i class="bi bi-box-arrow-up-right text-dark"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="ps-0 d-flex">
                  <div
                    class="rounded-circle me-2 flex-center bg-brand soft"
                    style="width: 20px; height: 20px"
                  >
                    <i class="bi bi-check fs-4"></i>
                  </div>
                  <div>ClosedXML</div>
                </td>
                <td class="text-end pe-0 opacity-25">
                  <a href="https://docs.closedxml.io/en/latest/" target="_blank">
                    <i class="bi bi-box-arrow-up-right text-dark"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="ps-0 d-flex">
                  <div
                    class="rounded-circle me-2 flex-center bg-brand soft"
                    style="width: 20px; height: 20px"
                  >
                    <i class="bi bi-check fs-4"></i>
                  </div>
                  <div>FluentValidation</div>
                </td>
                <td class="text-end pe-0 opacity-25">
                  <a href="https://docs.fluentvalidation.net/en/latest/" target="_blank">
                    <i class="bi bi-box-arrow-up-right text-dark"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="ps-0 d-flex">
                  <div
                    class="rounded-circle me-2 flex-center bg-brand soft"
                    style="width: 20px; height: 20px"
                  >
                    <i class="bi bi-check fs-4"></i>
                  </div>
                  <div>AWSSDK.S3</div>
                </td>
                <td class="text-end pe-0 opacity-25 border-bottom-0">
                  <a href="https://www.nuget.org/packages/AWSSDK.S3" target="_blank">
                    <i class="bi bi-box-arrow-up-right text-dark"></i>                    
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
